[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
"bs4" = "*"
requests = "*"
requests-html = "*"
sqlalchemy = "*"
"psycopg2" = "*"


[dev-packages]

